html {
  font-size: 125%;
  background-color: rgb(43, 43, 43);
  color: white;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 1200px;
  margin: 0 auto;
  
}

ul, h2, h3 {
  margin: 0;
  padding: 0;
}

button, select {
  font-size: 0.8rem;
}
/* this is the ul */
.searchResults {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  width: 100%;
  gap: 10px;
  margin-top: 20px;
}

/* this is the li */
.game {
  border: 3px solid blue;
  background-color: rgb(84, 198, 247);
  border-radius: 15px;
  width: calc(25% - 20px);
  
}

.game img,
.game2 img {
  width: 100%;
}

h1, form {
  width: 100%;
}

/* firebase stuff */
li {
  list-style: none;
  width: 100%;
}

/* firebase ul */
.firebaseGames {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

/* firebase li */
.game2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(33% - 20px);
  border: 3px solid rgb(255, 162, 1);
  background-color: rgb(249, 192, 85);
  border-radius: 15px;
  margin: 20px 0 10px 0;
  color: black;
}

.firebaseShowButton{
  position: fixed;
  top: 1%;
  right: 1%;
  border: 1px solid rgb(255, 162, 1);
  background-color: rgb(249, 192, 85);
  border-radius: 10px;
  font-weight: bold;
  padding: 10px;
  transition: 0.2s;
  cursor: pointer;
}

/* button to remove games from firebase */
.removeButton {
  margin: 10px 0;
  width: 50%;
}

.resultLink {
  color: black;
  border-radius: 15px;
  text-decoration: none;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
}

.resultLink:focus, 
.resultLink:hover {
  background-color: rgb(28, 117, 241);
}

.resultLink button {
  margin: 10px 0;
  width: 50%;
  border: 2px solid green;
  border-radius: 10px;
  background-color: rgb(148, 247, 148);
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  transition: 0.2s;
}

.resultLink button:hover,
.resultLink button:focus {
  background-color: rgb(25, 204, 25);
}

footer {
  border-top: 2px solid orange;
  padding-top: 20px;
  margin-top: 50px;
}

footer h2 {
  margin-top: 10px;
}
a {
  text-decoration: none;
}

footer a,
.logo,
.minRequirements,
.contactLink{
color: orange;
transition: 0.2s;
}

footer a:focus, footer a:hover,
.logo:focus, .logo:hover,
.contactLink:focus, .contactLink:hover
{
  color: rgb(255, 106, 0);
}

/* GameDetails page */

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.requirements {
  border: 2px solid orange;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 50px;
  margin-top: 50px;
}

.mainInfo {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.rightDiv {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leftDiv {
width: 60%;
}

.leftDiv img {
  width: 100%;
}


.gameLink {
  background-color: orange;
  padding: 10px;
  border-radius: 10px;
  min-height: auto;
  margin-top: 20px;
  color:black
}

.gameLink:focus,
.gameLink:hover,
.firebaseShowButton:focus, 
.firebaseShowButton:hover{
  background-color: rgb(255, 106, 0);
}

/* media queries */

@media (max-width:850px ) {
  .game, .game2 {
    width: 40%
  }

  .mainInfo {
    flex-direction: column;
    align-items: center;
  }
  
  .leftDiv {
    width: 90%;
  }
  
  .rightDiv {
    width: 90%;
  }
  
}

@media (max-width:530px) {
  .game, .game2 {
    width: 80%
  }

  .firebaseShowButton {
    padding: 5px;
    font-size: 0.6rem;
  }

  

}